<template>
    <div class="nav-side-menu">
        <div class="brand"><a href="#"><img src="asset/images/logo.png" alt=""></a></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content">
                    <li class="no_child">
                        <a href="#">Items single</a>
                    </li>
                    <li data-toggle="collapse" data-target="#Items" class="collapsed">
                        Items
                    </li>
                    <ul class="sub-menu collapse" id="Items">
                        <li class="active"><a href="#"> Items 1</a></li>
                        <li><a href="#"> Items 2</a></li>
                        <li><a href="#"> Items 3</a></li>
                        <li data-toggle="collapse" data-target="#Items1" class="sub_collapse collapsed">
                            Items 4
                        </li>
                        <ul class="sub-menu sub_child_collapse collapse" id="Items1">
                            <li><a href="#"> Items 1</a></li>
                            <li><a href="#"> Items 2</a></li>
                            <li data-toggle="collapse" data-target="#Items2" class="sub_collapse_type_2 collapsed">
                                Items inner
                            </li>
                            <ul class="sub-menu sub_grand_child_collapse collapse" id="Items2">
                                <li><a href="#"> Items inner 1</a></li>
                                <li><a href="#"> Items inner 2</a></li>
                                <li><a href="#"> Items inner 3</a></li>
                                <li><a href="#"> Items inner 4</a></li>
                            </ul>
                            <li><a href="#"> Items 4</a></li>
                        </ul>
                        <li><a href="#"> Items 5</a></li>
                    </ul>
                    <li  data-toggle="collapse" data-target="#Orders" class="collapsed">
                        Orders
                    </li>
                    <ul class="sub-menu collapse" id="Orders">
                        <li><a href="#"> Devices</a></li>
                        <li><a href="#"> Groups</a></li>
                        <li><a href="#"> SIM Cards</a></li>
                        <li><a href="#"> Users</a></li>
                    </ul>
                    <li  data-toggle="collapse" data-target="#Marketing" class="collapsed">
                        Marketing Tools
                    </li>
                    <ul class="sub-menu collapse" id="Marketing">
                        <li><a href="#"> Devices</a></li>
                        <li><a href="#"> Groups</a></li>
                        <li><a href="#"> SIM Cards</a></li>
                        <li><a href="#"> Users</a></li>
                    </ul>
                    <li  data-toggle="collapse" data-target="#Customers" class="collapsed">
                        Customers
                    </li>
                    <ul class="sub-menu collapse" id="Customers">
                        <li><a href="#"> Devices</a></li>
                        <li><a href="#"> Groups</a></li>
                        <li><a href="#"> SIM Cards</a></li>
                        <li><a href="#"> Users</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#Feedback" class="collapsed">
                        Feedback
                    </li>
                    <ul class="sub-menu collapse" id="Feedback">
                        <li><a href="#"> General</a></li>
                        <li><a href="#"> Security</a></li>
                        <li><a href="#"> Notifications</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#maintenance" class="collapsed">
                        Maintenance
                    </li>
                    <ul class="sub-menu collapse" id="maintenance">
                        <li><a href="#"> Operation Logs</a></li>
                        <li><a href="#"> Events and Alarms</a></li>
                        <li><a href="#"> Backup and Restore</a></li>
                    </ul>

                    <li  data-toggle="collapse" data-target="#Statistics" class="collapsed">
                        Statistics
                    </li>
                    <ul class="sub-menu collapse" id="Statistics">
                        <li><a href="#"> Manual SMS</a></li>
                        <li><a href="#"> Import</a></li>
                        <li><a href="#"> Export</a></li>
                    </ul>
                </ul>
            </div>
    </div>
</template>