/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES 
02. HEADER 
03. NAV 
04. WELCOME SECTION 
*/

/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f4f9;
/*    min-width: 1228px;*/
}
a:hover, a:focus {
    box-shadow: 0 0px transparent;
    text-decoration: none;
    color: inherit;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;

}
.no_padding_top{
  padding-top: 0!important;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*.container-fluid{
  min-width: 1270px;
}*/
/*---------------------------------------
    HEADER       
-----------------------------------------*/

.header_area{
    padding: 8px 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,.16);
    background-color: #606666;
    text-align: right;  
    min-width: 1480px  
}
.brand{}
.header_right_menu{
    float: right;
}
.header_right_menu li > a{
  font-size: 18px;
  color: #fff;
  display: inline-block;  
  font-size: 18px;
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  position: relative;
}
.header_right_menu li > a i{ 
  font-size: 18px;
  color: #fff;
}
.header_right_menu li > a span{ 
    font-size: 10px;
    color: #fff;
    background: #ce4454;
    position: absolute;
    bottom: 4px;
    right: -5px;
    width: 15px;
    height: 15px;
    display: block;
    text-align: center;
    border-radius: 50%;

}
.header_right_menu .dropdown  > a{
    font-size: 18px;
    color: #fff;
    display: inline-block;  
    font-size: 18px;
    color: #fff;
    padding: 5px;
    padding-left: 30px;
}
.header_right_menu .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 12px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.header_right_menu .dropdown{}
.header_right_menu ul{
    position: relative;
    text-align: right;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    min-width: 200px;
    font-size: 1rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.dropdown-menu.show {
    top: 5px!important;
}
.dropdown-menu ul li{}
.dropdown-menu ul li:last-child a{
    border-bottom: 0px solid #e3e3e3;  
}
.dropdown-menu ul li a{
    display: block;
    text-decoration: none;
    color: #343434;
    font-weight: 500;
    padding: 4px 13px;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}


/***********************************
    SIDE MENU
************************************/

.nav-side-menu {
    box-shadow: 1px 0 3px rgba(0,0,0,.16);
    background-color: #fff;
    top: 0px;
    width: 240px;
    height: 100%;
    color: #e1ffff;
    float: left;
    position: relative;
    margin-top: -53px;
}
.nav-side-menu .brand img {
    max-width: 100%;
}
.nav-side-menu .brand {
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 24px 15px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu .menu-list > ul{
    border-top: 1px solid #efefef;
}  
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 0px solid #e1ffff;
    background-color: ;
}
.nav-side-menu .menu-content > li {
    display: block;
    text-decoration: none;
    color: #343434;
    font-weight: 500;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    position: relative;
    border-left: 4px solid transparent;
}
.nav-side-menu .menu-content > li:hover {
    display: block;
    text-decoration: none;
    color: #343434;
    font-weight: 500;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    position: relative;
    border-left: 4px solid #606666;
}
.nav-side-menu .menu-content > li.no_child{
    padding: 0;
}
.nav-side-menu .menu-content > li.no_child:before{
    display: none;
}
.nav-side-menu .menu-content > li.no_child:hover{}
.nav-side-menu .menu-content > li.no_child  a{
    display: block;
    text-decoration: none;
    color: #343434;
    font-weight: 500;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    position: relative;
    border-left: 0px solid transparent;
}
.nav-side-menu .menu-content > li.no_child  a:hover{
    border-left: 0px solid transparent;  
}
.nav-side-menu .menu-content  li a{
    border-left: 4px solid transparent;
}
.nav-side-menu .menu-content li:hover a{
    border-left: 4px solid #606666;
}
.nav-side-menu .menu-content li.active a{
    border-left: 4px solid #bac4c5;
    color: #fff;
    background-color: #bac4c5;
    font-weight: 600;
}
.nav-side-menu .menu-content li.active a:hover{
    border-left: 4px solid #bac4c5;
    color: #fff;
    background-color: #bac4c5;
}
.nav-side-menu .menu-content > li:before {
    float: right !important;
    font-family: FontAwesome;
    content: "";
    font-size: 30px;
    width: 17px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 16px;
    top: 23px;

}
.nav-side-menu .menu-content > li.collapsed:after {
    float: right !important;
    content:"+";
    font-size: 30px;
    float: right !important;
    font-family: FontAwesome;
    font-size: 30px;
    width: 17px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 16px;
    top: 9px;
    background: none;
}
.nav-side-menu .menu-content > li:hover, 
.nav-side-menu .menu-content > li:active, 
.nav-side-menu .menu-content > li:focus  {
    text-decoration:none;
}
.nav-side-menu ul ul.sub-menu{
  background: #f2f2f2;
}
.nav-side-menu li .sub-menu li a,
.nav-side-menu ul .sub-menu li a{
  display: block;
  text-decoration: none;
  color: #343434;
  font-weight: 600;
  padding: 8px 13px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 25px;
}
.nav-side-menu ul .sub-menu a:hover {
  color: #343434;
  background: #fff;
  padding-left: 25px
}
.sub-menu li.sub_collapse{
  display: block;
  text-decoration: none;
  color: #343434;
  font-weight: 600;
  padding: 8px 13px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  border-left: 4px solid transparent;
}
.nav-side-menu ul .sub-menu > li.sub_collapse:hover {
  color: #343434;
  background: #fff;
  padding-left: 25px;
  border-left: 4px solid #606666;
}
.sub-menu li.sub_collapse:before {
    float: right !important;
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    font-size: 16px;
    font-weight: 900;

}
.sub-menu li.sub_collapse.collapsed:before {
    float: right !important;
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-size: 16px;
    font-weight: 900;
}
.sub_collapse_type_2{
    color: #343434;
    padding: 8px 13px;
    padding-left: 40px!important;
    position: relative;
    cursor: pointer;
    border-left: 4px solid transparent;
    font-size: 14px;
}
.sub_collapse_type_2:hover {
  color: #343434;
  background: #fff;
  padding-left: 40px;
  border-left: 4px solid #606666;
}
.sub_collapse_type_2:before {
    font-family: FontAwesome;
    content: "";
    width: 11px;
    height: 1px;
    background: #343434;
    position: absolute;
    left: 24px;
    top: 21px;
}
.sub_collapse_type_2.collapsed:after {
    content: "+";
    float: left !important;
    font-family: FontAwesome;
    font-size: 24px;
    width: 17px;
    height: 2px;
    position: absolute;
    left: 22px;
    top: 3px;
}
.sub_child_collapse{}
.nav-side-menu .sub-menu .sub_collapse + .sub_child_collapse  li a{
  padding-left: 40px;
}
.sub_grand_child_collapse li{}
.sub_grand_child_collapse li a{
  padding-left: 55px;  
}
.nav-side-menu .sub-menu  .sub_collapse_type_2 + .sub_grand_child_collapse li a{
  padding-left: 55px;  
}
.nav-side-menu .sub-menu  .sub_collapse_type_2.collapsed + .sub_grand_child_collapse li a{
  padding-left: 55px;  
}
.sub-menu li .sub_child_collapse li{}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}


/***********************************
  MAIN CONTENT
************************************/

.main {
    padding: 24px 16px 100px 16px;
    min-height: 100vh;
    height: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    background-color: #fff;
    margin-left: 252px;
    min-width: 1228px;
}

.main_title{
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
}
.main_title h2{
    display: inline-block;
    margin-bottom: 15px;
    color: #16325c;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.sub_title {
  margin-top: 15px;
}
.sub_title h2{
    display: inline-block;
    margin-bottom: 15px;
    color: #16325c;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

/********************************
  COMMENT STYLE
*********************************/
 .maincontent_wrapper {
  border: 1px solid #e3e3e3;
  padding: 20px 0px 20px;
  border-radius: 5px;
 }
 .item_border{
    border: 1px solid #e3e3e3;
    padding: 20px 0px 20px;
    border-radius: 5px;
 }
 input.form-control {
    display: block;
    width: 100%;
    border: 0;
    background: #fff;
    border: 1px solid #999;
    padding: 2px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
 input.form-control.small {
    max-width: 50px;
    padding: 2px 5px;
    text-align: center;
}
input.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: 0px solid;
    outline: 0;
    box-shadow: 0 0 0 1px #2385B3; 
}
select.form-control {
    display: block;
    width: 100%;
    border: 0;
    background: #fff;
    border: 1px solid #999;
    padding: 2px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: calc(9px + 15px);
}
select.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: 0px solid;
    outline: 0;
    box-shadow: 0 0 0 1px #2385B3; 
}
textarea.form-control {
    border: 1px solid #999;
    border-radius: 0;
}
textarea.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: 0px solid;
    outline: 0;
    box-shadow: 0 0 0 1px #2385B3; 
}
.col-form-label {
    padding-top: 0;
    font-size: 13px;
}
.form-group.row label{
    font-size: 13px; 
}

.btn-primary{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 4px 15px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    background: #000;
    border-color: #000;
    cursor: pointer;
}
.btn-secondary{
    display: inline-block;
    vertical-align: middle;
    color: #000;
    padding: 4px 15px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: #000;
    cursor: pointer;
}
.btn-medium{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 8px 25px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    background: #000;
    border-color: #000;
    cursor: pointer;
}
.btn-big{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 12px 40px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    background: #000;
    border-color: #000;
    cursor: pointer;
}
.btn-primary:hover {
    color: #000;
    background-color: #999987;
    border-color: #999987;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-warning {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-danger {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.transparent_btn, .transparent_btn:focus{
    color: #16325c;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: 0;
    cursor: pointer;
    text-decoration: underline;
}
button.btn-primary.grey_btn {
    color: #000;
    background-color: #999987;
    border-color: #999987;
}
.bg_primary {
  background: #668cff;
}
.bg_danger {
    background: #ff8086;
}
.bg_info {
    background: #00c0ef;
}
.bg_warning {
    background: #ffa000
}
.common_border{
  padding: 15px;
  border: 1px solid #e3e3e3;
}
.common_bottom_border{
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
}
table tbody tr td{
    vertical-align: middle;
}
table tr th, table tr td{
  font-size: 14px;
}
/*---------------------------------
  CUSTOM RADIO
----------------------------------*/
.custom-radio{
  padding-left: 0;
}
.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.custom-radio [type="radio"]:checked + label,
.custom-radio [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: block;
    color: #666;
    box-shadow: none;
    outline: 0;
}
.custom-radio [type="radio"]:checked + label:before,
.custom-radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
    margin-top: -11px;
}
.custom-radio [type="radio"]:checked + label:after,
.custom-radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #3c74e7;
    position: absolute;
    top: 50%;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: -7px;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.custom-radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}
select.form-control:not([size]):not([multiple]) {
    height: auto!important;
}


/*---------------------------------
  CUSTOM CHECKBOX
----------------------------------*/

.custom_checkbox {
  display: inline-block;
  padding-left: 0;
  margin-right: 20px;
}
.custom_checkbox [type="checkbox"]:not(:checked),
.custom_checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom_checkbox [type="checkbox"]:not(:checked) + label,
.custom_checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
.custom_checkbox [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 16px; 
  height: 16px;
  border: 1px solid #999;
  background: #fff;
  border-radius: 0px;
}
.custom_checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 16px; 
  height: 16px;
  border: 2px solid #3c74e7;
  background: #fff;
  border-radius: 0px;
}
/* checked mark aspect */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after,
.custom_checkbox [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 13px;
    line-height: 0.8;
    color: #3c74e7;
    transition: all .2s;
    font-weight: bold;
}
/* checked mark aspect changes */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom_checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


/********************************
  FORM ELEMENT
*********************************/
.upload_btn_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
}

.upload_btn_wrapper button {
  z-index: 2;
  position: relative;
}

.upload_btn_wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



/********************************
  HOME DASHBOARD 
*********************************/
.dashboard_home{}
.dashboard_home .sub_title {
    margin-top: 0px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
}
.dashboard_home .sub_title h2{
  display: block;
}
.dashboard_home .sub_title h2 span{
  float: right;
  font-size: 13px;
}
.dashboard_home {}
.performance_inner {
  position: relative;
  text-align: right;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-bottom: 20px;
}
.performance_inner .performance_icon{
    top: 0;
    left: 0;
    position: absolute;
    width: 70px;
    height: 70px;
    border-bottom-right-radius: 70px;
    text-align: left;
}
.performance_inner .performance_icon i{
    font-size: 23px;
    color: #fff;
    padding: 15px;
}
.performance_inner h2{
  font-size: 35px;
  color: #525252;
  font-weight: 600;
}
.performance_inner p{
  font-size: 14px;
  color: #525252;
}

.performance_transparent_icon .performance_icon {}
.performance_transparent_icon .performance_icon i{
    color: #525252;
    padding:  30px;
}
.performance_transparent_icon .performance_inner .performance_icon i {

}
.performance_transparent_icon .performance_inner h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.performance_transparent_icon .performance_inner p {
    font-size: 12px;
}
.performance_transparent_icon {}

/*--------------------------
  HOME PRODUCT SECTION
----------------------------*/
.home_product_inner{
  width: 15%;
  float: left;
  margin-right: 15px;
}
.home_product_inner{
  text-align: center;
}
.home_product_inner img{}
.home_product_inner p{
  margin-top: 4px;
}
.home_product_inner p a{
  color: #00c0ef;
  font-size: 14px;
}
.home_product_inner p a:hover{
  color: #0097bc
}



/********************************
  HOME DASHBOARD 2
*********************************/
.performance_icon_type_2{}
.performance_icon_type_2 .performance_inner {
    padding: 20px 10px 15px;
}
.performance_icon_type_2 .performance_icon i {
    color: #525252;
    padding: 12px;
    background-color: rgba(79,183,254, 0.4);
    border: 1px solid #75C1EA;
    border-radius: 5px;
    color: #00c0ef;
    height: 55px;
    width: 55px;
    text-align: center;
    padding-top: 15px;
}
.performance_icon_type_2 .performance_icon {
    top: 20px;
    left: 10px;
    width: auto;
    height: auto;
}
.performance_icon_type_2 .performance_icon a{
    color: #00bf86;
    margin-left: 10px;
}
.performance_icon_type_2 .performance_inner h2 {
    margin-bottom: 10px;
    font-weight: 500;
}
.home_product_type_2{}
.home_product_type_2 .home_product_inner{
    float: left;
    width: 10%;
    padding: 10px;
    margin: 0;
}
.home_product_type_2{}
/********************************
  ITEM LIST PAGE
*********************************/

/*--------------------------------
  LIST SEARCH
----------------------------------*/

.item_list_search > label{
  font-weight: 700;
  padding-bottom: 0;
  color: #343434;
  font-size: 16px!important;
}
.item_list_search input.form-control{
  display: inline-block;
  max-width: 350px;
}
.item_list_search input{}

/*--------------------------------
  ACCORDION
----------------------------------*/

.global_accordion{
  padding: 20px 0px;
}
.global_accordion .accordion_filter select.form-control{
  display: inline-block;
  max-width: 160px;
}
.global_accordion .card{
  margin-bottom: 20px;
  border: 0px solid ;
}
.global_accordion .card-header {}
.global_accordion .card-header {
    display: table;
    position: relative;
    width: 100%;
    background: #f1f4f9;
    padding: 5px 10px;
    border: 1px solid #e3e3e3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.global_accordion .card-header button ,.global_accordion .card-header button:hover{
    padding: 0;
    color: #16325c;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-transform: capitalize;
    position: relative;
    padding-left: 30px;
    text-decoration: none;

}
.global_accordion .card-header button:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    font-size: 20px;
    font-weight: 900;
    color: #343434;

}
.global_accordion .card-header button.collapsed:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-size: 20px;
    font-weight: 900;
    color: #343434;
}
.global_accordion .card-header {}
.global_accordion .card-body {
    border: 1px solid #e3e3e3;
    border-top:0px solid;
    border-radius: 0px 0px 3px 3px;
}

.global_pagination{}
.global_pagination .pagination{
    align-items: center;
    justify-content: center;
}
.global_pagination .page-item {
  padding: 0px 5px;
}
.global_pagination .page-item input{
    height: 30px;
    border: 1px solid #dee2e6;
    padding: 0;
    text-align: center;
}
.global_pagination .page-item button{}
.global_pagination .page-item {}
.global_pagination .page-link {
    position: relative;
    display: block;
    padding: 4px 12px;
    margin-left: -1px;
    line-height: 1.25;
    color: #343434;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.global_pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2385B3;
    border-color: #2385B3;
}
.global_pagination {}



/*--------------------------------
  SINGLE PRODUCT
----------------------------------*/
.single_product_wrapper{}
.single_product{
    display: inline-block;
    width: 160px;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: top;
    position: relative;
}
.single_img{
  display: block;
  position: relative;
  padding-left: 40px;
}
.single_img a.edit{
  position: absolute;
  left: 10px;
  bottom: 0;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  color: #000;
}
.single_img button.single_color_1{
    position: absolute;
    top: 6px;
    right: 3px;
    background: #229B33;
    border: none;
    outline: 0;
    box-shadow: none;
    padding: 2px 3px;
    color: #fff;
    font-weight: 900;
    line-height: 16px;
    border-radius: 2px;
    font-size: 14px;
}
.single_img button.single_color_2{
    position: absolute;
    top: 36px;
    right: 3px;
    background: #3C74E7;
    border: none;
    outline: 0;
    box-shadow: none;
    padding: 2px;
    color: #fff;
    font-weight: 900;
    line-height: 16px;
    border-radius: 2px;
    font-size: 14px;
}
.single_product .form_checkbox {
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 2;
}
.single_product .form_checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.single_product .form_checkbox label {
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.single_product .form_checkbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #999;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    top: -4px;
}
.single_product .form_checkbox input:checked + label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #3c74e7;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    top: -4px;
}
.single_product .form_checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid #3c74e7;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.single_product.selected .single_product_text{
    border: 4px solid #3c74e7;
}
.single_product_text{
    background: #fff;
    border: 4px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.13);
    padding: 10px 8px;
    padding-left: 0;
}
.single_product_text{}
.single_product{}
.single_product .single_product_desc {
  text-align: center;
  border-top: 1px solid #d0d0d0;
  display: block;
  margin: 10px 0px;
  padding-top: 10px;
}
.single_product .single_product_desc h2{
    color: #343434;
    font-size: 14px;
    margin-bottom: 0;
}
.single_product .single_product_desc h3{
    margin-bottom: 0;
    font-size: 12px;
    color: #3c74e7;
    line-height: 8px;
    padding: 6px 0px;
}
.single_product .single_product_desc h3 a{
    font-size: 12px;
    color: #3c74e7;
}
.single_product .single_product_desc p{
  color: #999;
  font-size: 12px;
  margin-bottom: 0;
}
.single_product .single_product_desc{}
.single_product img{
  max-width: 100%;
}
.accordion_filter{
  margin: 0px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 15px;
}
.accordion_filter_bottom{
  margin: 15px 0px 0px;
  border-bottom: 0px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  padding-bottom: 0px;
  padding-top: 15px;
}


/**********************************
  TAB PAGE
***********************************/
.global_tab{}
.global_tab .nav-tabs {
    border-bottom: 1px solid #e3e3e3;
}
.global_tab .nav-tabs .nav-link.active, .global_tab .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #91a9b9;
    border-color: #ddd #ddd #e9e9e9;
}
.global_tab .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 170px 10px 10px;
    border-color: #e3e3e3 #e3e3e3 #e3e3e3;
    color: #2c2c2c;
    margin-right: -1px;
}
.global_tab .tab-content{
  margin-top: 15px;
}
.global_tab{}
.global_tab .table-bordered thead th, .global_tab .table-bordered thead td {
    border-bottom-width: 1px;
    font-size: 14px;
}
.global_tab .table-bordered tbody td {
    font-size: 14px;
}
.global_tab .table-bordered tbody td a {
  color: #00c0ef;
}
.global_tab .table-bordered tbody td a:hover {
    color: #0097bc;
}


/**********************************************
  MESSAGE PAGE
***********************************************/
.message_area{}
.message_area ul{}
.message_area ul li:nth-child(odd){}
.message_area ul li{
  position: relative;
  margin-bottom: 20px;

}
.message_area ul li > img{
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 50%;
}
.message_area ul li .message_text{
    background: #E1F3EF;
    border-radius: 3px;
    display: inline-block;
    padding: 12px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
}
.message_area ul li .message_text:after {
    right: 100%;
    bottom: -1px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #E1F3EF;
    border-width: 11px;
    margin-right: -3px;
    border-right-color: #E1F3EF;
}
.message_area ul li:nth-child(even) {
  text-align: right;
}
.message_area ul li:nth-child(even) > img{
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
}
.message_area ul li:nth-child(even) .message_text:after {
    right: auto;
    left: 100%;
    bottom: -1px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #d5ecf6;
    border-width: 11px;
    margin-right: auto;
    margin-left: -3px;
    border-left-color: #d5ecf6;
}
.message_area ul li:nth-child(even) .message_text{
    background: #d5ecf6;
    border-radius: 3px;
    display: inline-block;
    padding: 12px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 60px;
}
.message_area ul li:nth-child(even) > img{}
.message_area ul li .message_text h2.author_name{
    color: #1a2942;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 5px;
}
.message_area ul li .message_text p.message_text_details{
    color: #1a2942;
    font-size: 12px;
    margin: 10px 0px;
}
.message_area ul li .message_text p.message_text_details a{
    color: #0097bc;
    display: block;
}
.message_area ul li .message_text p.message_date{
    color: #868e96;
    font-size: 12px;
    margin-bottom: 5px;
}
.message_area ul li .message_date p.message_text_details{}
.msg_textarea {
  position: relative;
  margin: 50px 0px 20px;
  padding-right: 50px;
}
.msg_textarea {}
.msg_textarea textarea{
  border-radius: 0;
  border:1px solid #e3e3e3;
  color: #495057;
  font-size: 14px;
}
.msg_textarea button{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  border-radius: 0;
}
.msg_upload{
  margin: 30px 0px 20px;
}
.msg_upload{}
.msg_upload label{
  font-size: 14px;
  color: #495057;
  margin-top: 15px;
}
.msg_upload input{
    font-size: 14px;
    color: #495057;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*------------------------------
  SENDER INFO
--------------------------------*/
.sender_info{}
.sender_info tbody th,.sender_info tbody td{
  font-size: 14px;
}

/****************************************
  ALL ORDER PAGE
*****************************************/

.all_order.order_details  .global_accordion .card-body {
    padding: 20px 0px 0px;
}
.all_order .input-group-text{
      background-color: #e9ecef;
    border: 1px solid #999;
    font-size: 13px;
}
.all_order_table {}
.all_order_table table tr td:last-child a {
  color: red;
}
.all_order_table table tr td:nth-of-type(3) a {
  color: #00c0ef;
}
.all_order_table table tr td:nth-of-type(3) a:hover {
  color: #0097bc;
}
.all_order_table .custom_checkbox {
    margin-right: 0;
    top: -13px;
}
.all_order_table table tr td:last-child a {}
.input-group-text{}


/****************************************
  ORDER DETAILS PAGE
*****************************************/
.order_details{}
.order_details{
  border: 1px solid #e3e3e3;
  padding: 20px 20px 0px;
  border-radius: 5px; 
}
.order_details .global_accordion {
  padding-bottom: 0;
}
.order_details .global_accordion .card-body {
    padding: 20px 0px 0px;
}
.order_details{}
.order_details table tr th , .order_details table tr td{
  font-size: 14px;
}
.cart_order tbody > tr > td {
  vertical-align: middle;
}
.cart_order tr td input {
  margin: 0 auto;
}
.cart_order .custom_checkbox {
  margin-right: 0;
  top: -13px;
}
.cart_order .custom_checkbox label{}


/*************************************
  SHORT ITEM PAGE
**************************************/

.short_item_filter{
  margin-bottom: 20px;
}
.short_item_filter_title{
  font-size: 14px;
}
.short_product_inner{}
.short_product_inner{
    width: 7%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    text-align: center;
}
.short_product_inner img{}
.short_product_inner p{}
.short_product_inner p a{
    font-size: 10px;
}
.short_product_inner p a:hover{
    color:#0097bc; 
}
.short_product_inner input{}


/*************************************
  BANNER MANAGER PAGE
**************************************/
.banner_manager{}
.banner_manager .msg_upload{
    margin-top: 0px;
}
.banner_manager {}
.border_manager_table{}
.border_manager_table tbody{}
.border_manager_table tbody tr{}
.border_manager_table tbody tr td{
    vertical-align: middle;
}
.border_manager_table tbody tr td:last-child a:first-child{
      color: blue;
}
.border_manager_table tbody tr td:last-child a:first-child{}
.border_manager_table tbody tr td:last-child a:last-child{
      color: red;
}
.border_manager_table tbody tr td:last-child a:last-child{}
.border_manager_table tbody tr td:last-child{}
.border_manager_table .global_pagination .pagination {
    justify-content: left;
}


/*************************************
  BANNER ITEM PAGE
**************************************/
.item_border.banner_item{
  padding-top: 0;
}
.banner_item h2{
    margin-bottom: 15px;
    color: #16325c;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 20px;
}
.banner_item button{
    margin-top: 20px;
}

.banner_item label small{}
.banner_item{}
.banner_product{}
.banner_product_inner{}
.banner_product_inner {
    width: 100px;
    margin-right: 15px;
    float: left;
}
.banner_product_inner{}
.banner_product .banner_product_inner a{
    color: #ff8086;
    font-size: 14px;
}

/*************************************
  BANNER BEST ITEM PAGE
**************************************/
.banner_best_product{}
.banner_best_product .banner_product_inner p{
  margin-bottom: 0;
  font-size: 12px;
}
.banner_best_product .banner_product_inner a:last-child ,.banner_best_product .banner_product_inner a:last-child:hover{
    color: #ff8086;

}
.banner_best_product .banner_product_inner a{
    color: #00c0ef;
        font-size: 14px;
}
.banner_best_product .banner_product_inner a:hover{
    color: #0097bc;
}


/*******************************
  EDIT ITEM PAGE
*******************************/
.edit_item_list{}
.edit_item_list .card-header{}
.edit_item_list .card-header ul{
    text-align: right;
    display: inline-block;
    float: right;
    padding-top: 1px;
    padding-right: 15px;
}
.edit_item_list .card-header ul li.item_required{
    color: #f46969;
    font-weight: bold;
}
.edit_item_list .card-header ul li span{
    font-weight: bold;
    margin-right: 7px;
}
.edit_item_list .card-header ul li{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    display: inline-block;
    position: relative;
}
.edit_item_list .card-header ul li:before{
    position: absolute;
    content: "";
    left: -17px;
    top: 6px;
    width: 1px;
    height: 14px;
    background: #212529;
}
.edit_item_list .card-header ul li:first-child:before{
  display: none;
}
.edit_item_list .card-header ul li:first-child:before{}